<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.shlokdixit1">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <permission
        android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="NUMAD16S-ShlokDixit"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".FirstActivity"
            android:label="NUMAD16S-ShlokDixit">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FinalProject.finalproject"
            android:label="NUMAD16S-BurpeeChallenge"
            android:icon="@drawable/burpee_icon"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TicTacToe.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        >
        <activity
            android:name=".WordGame.SinglePlayerWordGame.Phase_I_wg"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TicTacToe.GameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dictionary.TestDictionary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordGame.SinglePlayerWordGame.Phase_II_wg"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordGame.SinglePlayerWordGame.Final_score_wd"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Dictionary.dictionary_credits"
            android:label="@string/title_activity_dictionary_credits"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordGame.TwoPlayerWordGame.Phase_I_wg_2Player"
            android:label="@string/title_activity_dictionary_credits"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordGame.TwoPlayerWordGame.Phase_II_wg_2Player"
            android:label="@string/title_activity_dictionary_credits"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordGame.WordGameCredits"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordGame.SinglePlayerWordGame.Parent_Controls"
            android:label="@string/title_activity_parent__controls" />
        <activity
            android:name=".WordGame.SinglePlayerWordGame.New_Phase_I_Game"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordGame.SinglePlayerWordGame.Communication"
            android:label="@string/title_activity_communications" />
        <activity
            android:name=".TrickestPart.TrickestPart"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.shlok.tp" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WordGame.ModeSelection"
            android:label="@string/title_activity_mode_selection"></activity>
    </application>

</manifest>
